<div class="container">
    <div class="row nav-header">
        <nav class="nav">
            <a class="nav-link header-img" aria-current="page" href="#">
                <img src="https://www.expedia.co.in/_dms/header/logo.svg?locale=en_GB&amp;siteid=27&amp;2" alt="expedia logo">
            </a>
            <a class="nav-link more" href="#">More travel 
                <i class="fa fa-arrow-down"></i>
            </a>
            <div class="menu-container ">
                <a class="nav-link" href="#" >
                    English
                </a>
                <a class="nav-link" href="#">
                    Support
                </a>
                <a class="nav-link" href="#">
                    Tips
                </a>
                <a class="nav-link bell" href="#">
                    <i class="fa fa-bell"></i>
                </a>
                <a class="nav-link" href="#">
                    Sign in
                </a>
            </div>
        </nav>
    </div>
