<div class="container">
    <div class="row float-right">
        <div class="col-2">
            <a href="#" class="icon" target="_blank" rel="_blank"><img aria-label="opens in a new window" src="https://a.travel-assets.com/globalcontrols-service/content/f285fb631b0a976202ef57611c7050e9ef5ca51a/images/EG_Wordmark_blue_RGB.svg" alt="Expedia Group Logo" width="100%" loading="lazy"></a>
        </div>
        <div class="col-2 icon-container">
            <div class="row">
                <span class="footer-col-title">Company</span>
            </div>
            <div class="row">
                <a href="#">About us</a>
            </div>
            <div class="row">
                <a href="#">Jobs</a>
            </div>
            <div class="row">
                <a href="#">List your Property</a>
            </div>
            <div class="row">
                <a href="#">Partnerships</a>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <span class="footer-col-title">Explore</span>
            </div>
            <div class="row">
                <a href="#">India Travel guide</a>
            </div>
            <div class="row">
                <a href="#">Hotels in India</a>
            </div>
            <div class="row">
                <a href="#">Holiday rentals in India</a>
            </div>
            <div class="row">
                <a href="#">Holiday packages in India</a>
            </div>
            <div class="row">
                <a href="#">Domestic flights</a>
            </div>
            <div class="row">
                <a href="#">Car hire in India</a>
            </div>
            <div class="row">
                <a href="#">All accommodation types</a>
            </div>
            <div class="row">
                <a href="#">Travel blog</a>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <span class="footer-col-title">Policies</span>
            </div>
            <div class="row">
                <a href="#">Privacy Statement</a>
            </div>
            <div class="row">
                <a href="#">Terms of use</a>
            </div>
            <div class="row">
                <a href="#">Vrbo terms and conditions</a>
            </div>
            
        </div>
        <div class="col-2">
            <div class="row">
                <span class="footer-col-title">Help</span>
            </div>
            <div class="row">
                <a href="#">Support</a>
            </div>
            <div class="row">
                <a href="#">Change or cancel your booking</a>
            </div>
            <div class="row">
                <a href="#">Refund</a>
            </div>
        </div>
    </div>
    <div class="row footer">
        <img src="https://images.trvl-media.com/media/content/expind/images/sg/secure.png" alt="Secured Site - Verizon Cybertrust Security">
    </div>
    <div class="row footer-text">
        <span>© 2022 Expedia, Inc., an Expedia Group company. All rights reserved. Expedia and the Airplane Logo are trademarks or registered trademarks of Expedia, Inc.</span>
    </div>
</div>
